pyrofork==2.3.69
tgcrypto-pyrofork
openai

pymongo==4.13.2
motor==3.7.1
marshmallow<4.0.0
umongo

requests
beautifulsoup4
shortzy
pytz
aiohttp
aiofiles

telegraph
pymediainfo-pyrofork

opencv-python-headless==4.8.1.78

python-dotenv==0.21.1
python-decouple

PyLeaves==1.0.2
humanize
Pillow
psutil

numpy
wheel
ujson
wget

dnspython==2.7.0

ffmpeg-python==0.2.0

jinja2
apscheduler
pyshorteners
colorama

# SPELL CHECK
fuzzywuzzy
python-Levenshtein==0.27.1

# ✅ IMDb (PyPI version only — no GitHub)
cinemagoer

# ✅ Added missing useful modules
yt-dlp
ytthumb
youtube_search
youtube-search-python==1.4.6
gTTS==2.3.1
googletrans==3.1.0a0
hachoir
speedtest-cli
# ✅ IMDb (ONLY THIS)
git+https://github.com/NBBotz/IMDBKit.git
